<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wireless Mouse</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>

	<div class="main">
		<div class="row">
			<div class="left" id="left"></div>
			<div class="right" id="right"></div>
		</div>
		<div class="track" id="track"></div>
	</div>

</body>
<script src="{{url_for('static',filename='js/script.js')}}"></script>
</html>